.container{
width: 100%;
height: 100px;
background-color: #21D4FD;
background-image: linear-gradient(19deg, #71e5ff 0%, #ce6ffb 100%);

display: flex;
justify-content: center;
align-items: center;
box-shadow: 0 1px 15px #c2c2c2;
}

h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

color: rgb(255, 255, 255);
font-size: 2rem;
}